a.file-7z { background-image: url(fileicons/7z.png) !important; }
a.file-ai { background-image: url(fileicons/ai.png) !important; }
a.file-aiff { background-image: url(fileicons/aiff.png) !important; }
a.file-asc { background-image: url(fileicons/asc.png) !important; }
a.file-audio { background-image: url(fileicons/audio.png) !important; }
a.file-bin { background-image: url(fileicons/bin.png) !important; }
a.file-bz2 { background-image: url(fileicons/bz2.png) !important; }
a.file-c { background-image: url(fileicons/c.png) !important; }
a.file-cfc { background-image: url(fileicons/cfc.png) !important; }
a.file-cfm { background-image: url(fileicons/cfm.png) !important; }
a.file-chm { background-image: url(fileicons/chm.png) !important; }
a.file-class { background-image: url(fileicons/class.png) !important; }
a.file-conf { background-image: url(fileicons/conf.png) !important; }
a.file-cpp { background-image: url(fileicons/cpp.png) !important; }
a.file-cs { background-image: url(fileicons/cs.png) !important; }
a.file-css { background-image: url(fileicons/css.png) !important; }
a.file-csv { background-image: url(fileicons/csv.png) !important; }
a.file-deb { background-image: url(fileicons/deb.png) !important; }
a.file-divx { background-image: url(fileicons/divx.png) !important; }
a.file-doc { background-image: url(fileicons/doc.png) !important; }
a.file-dot { background-image: url(fileicons/dot.png) !important; }
a.file-eml { background-image: url(fileicons/eml.png) !important; }
a.file-enc { background-image: url(fileicons/enc.png) !important; }
a.file-file { background-image: url(fileicons/file.png) !important; }
a.file-gif { background-image: url(fileicons/gif.png) !important; }
a.file-gz { background-image: url(fileicons/gz.png) !important; }
a.file-hlp { background-image: url(fileicons/hlp.png) !important; }
a.file-htm { background-image: url(fileicons/htm.png) !important; }
a.file-html { background-image: url(fileicons/html.png) !important; }
a.file-image { background-image: url(fileicons/image.png) !important; }
a.file-iso { background-image: url(fileicons/iso.png) !important; }
a.file-jar { background-image: url(fileicons/jar.png) !important; }
a.file-java { background-image: url(fileicons/java.png) !important; }
a.file-jpeg { background-image: url(fileicons/jpeg.png) !important; }
a.file-jpg { background-image: url(fileicons/jpg.png) !important; }
a.file-js { background-image: url(fileicons/js.png) !important; }
a.file-lua { background-image: url(fileicons/lua.png) !important; }
a.file-m { background-image: url(fileicons/m.png) !important; }
a.file-mm { background-image: url(fileicons/mm.png) !important; }
a.file-mov { background-image: url(fileicons/mov.png) !important; }
a.file-mp3 { background-image: url(fileicons/mp3.png) !important; }
a.file-mpg { background-image: url(fileicons/mpg.png) !important; }
a.file-odc { background-image: url(fileicons/odc.png) !important; }
a.file-odf { background-image: url(fileicons/odf.png) !important; }
a.file-odg { background-image: url(fileicons/odg.png) !important; }
a.file-odi { background-image: url(fileicons/odi.png) !important; }
a.file-odp { background-image: url(fileicons/odp.png) !important; }
a.file-ods { background-image: url(fileicons/ods.png) !important; }
a.file-odt { background-image: url(fileicons/odt.png) !important; }
a.file-ogg { background-image: url(fileicons/ogg.png) !important; }
a.file-pdf { background-image: url(fileicons/pdf.png) !important; }
a.file-pgp { background-image: url(fileicons/pgp.png) !important; }
a.file-php { background-image: url(fileicons/php.png) !important; }
a.file-pl { background-image: url(fileicons/pl.png) !important; }
a.file-png { background-image: url(fileicons/png.png) !important; }
a.file-ppt { background-image: url(fileicons/ppt.png) !important; }
a.file-ps { background-image: url(fileicons/ps.png) !important; }
a.file-py { background-image: url(fileicons/py.png) !important; }
a.file-ram { background-image: url(fileicons/ram.png) !important; }
a.file-rar { background-image: url(fileicons/rar.png) !important; }
a.file-rb { background-image: url(fileicons/rb.png) !important; }
a.file-rm { background-image: url(fileicons/rm.png) !important; }
a.file-rpm { background-image: url(fileicons/rpm.png) !important; }
a.file-rtf { background-image: url(fileicons/rtf.png) !important; }
a.file-sig { background-image: url(fileicons/sig.png) !important; }
a.file-sql { background-image: url(fileicons/sql.png) !important; }
a.file-swf { background-image: url(fileicons/swf.png) !important; }
a.file-sxc { background-image: url(fileicons/sxc.png) !important; }
a.file-sxd { background-image: url(fileicons/sxd.png) !important; }
a.file-sxi { background-image: url(fileicons/sxi.png) !important; }
a.file-sxw { background-image: url(fileicons/sxw.png) !important; }
a.file-tar { background-image: url(fileicons/tar.png) !important; }
a.file-tex { background-image: url(fileicons/tex.png) !important; }
a.file-tgz { background-image: url(fileicons/tgz.png) !important; }
a.file-txt { background-image: url(fileicons/txt.png) !important; }
a.file-vcf { background-image: url(fileicons/vcf.png) !important; }
a.file-video { background-image: url(fileicons/video.png) !important; }
a.file-vsd { background-image: url(fileicons/vsd.png) !important; }
a.file-wav { background-image: url(fileicons/wav.png) !important; }
a.file-wma { background-image: url(fileicons/wma.png) !important; }
a.file-wmv { background-image: url(fileicons/wmv.png) !important; }
a.file-xls { background-image: url(fileicons/xls.png) !important; }
a.file-xml { background-image: url(fileicons/xml.png) !important; }
a.file-xpi { background-image: url(fileicons/xpi.png) !important; }
a.file-xvid { background-image: url(fileicons/xvid.png) !important; }
a.file-zip { background-image: url(fileicons/zip.png) !important; }
